################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Resources
/Properties
/Program.cs
/obj/Debug
/GloryToSfedu.csproj
/bin/Debug
/App.config
/obj/Release
/bin/Release
